{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Course Enrollment</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <h1>Course Enrollment</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enroll</button>
        </form>

        <a href="{% url 'course_list' %}" class="link-button">Back to Courses</a>
    </div>
</body>

</html>
